header {
    padding: 2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 80;
    background: transparent;

    @media (max-width: 821px) {
        padding: 2rem 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 95%;
        margin: auto;

        @media (max-width: 821px) {
            align-items: center;
        }

        .logo {
            svg {
                width: 22rem;

                @media(max-width: 821px) {
                    width: 15rem;
                }
            }
        }

        .menu-list {
            text-align: center;
            margin: 0;
            padding: 0;
            margin-right: 0;
            gap: 0;
            display: flex;

            @media (max-width: 821px) {
                display: none;
            }
        
            li {
                margin: 0;
                list-style: none;
                display: inline-block;
                border: 1px solid var(--color-dark);
                border-top: none;
                border-bottom: none;
                border-right: none;

                &:first-child {
                    border-left: none;
                }
        
                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 1.3rem;
                    line-height: 1.8rem;
                    font-weight: 600;
                    padding: 0 2.5rem;
                    text-transform: uppercase;

                    &:hover {
                        color: var(--color-red);
                    }
                }
            }
        }
    }
}

header.active {
    background: rgba(255, 255, 255, 1);
}