.produtos-content {

    .swiper-produtos {
        overflow: visible;
        
        .swiper-slide {
            max-width: 125rem;
            height: 100%;
            display: grid;
            grid-template-columns: .6fr .4fr;
            gap: 2rem;
            background: var(--color-light);
            padding: 2rem;

            @media (max-width: 821px) {
                grid-template-columns: 1fr;
            }

            .img-produtos {
                width: 100%;
                max-height: 73.7rem;
                height: 100%;
                overflow: hidden;

                @media (max-width: 821px) {
                    max-height: 40rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .produtos-descriptions {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 2rem;

                strong {
                    font-size: 4rem;
                    line-height: 4.5rem;
                    color: var(--color-red);
                    font-weight: 700;

                    @media (max-width: 821px) {
                        font-size: 2rem;
                    line-height: 2.5rem;
                    }
                }

                span {
                    display: block;
                    font-size: 2.7rem;
                    line-height: 3.5rem;
                    color: var(--color-outer-space);
                    font-weight: 500;

                    @media (min-width: 992px) and (max-width: 1200px) {
                        font-size: 2.2rem;
                        line-height: 2.7rem;
                    }

                    @media (max-width: 821px) {
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }
                }

                .description {
                    max-height: 42.5rem;
                    position: relative;
                    overflow: hidden;

                    @media (max-width: 821px) {
                        height: 25rem;
                    }

                    p {
                        font-size: 2.7rem;
                        line-height: 3.5rem;
                        color: var(--color-outer-space);
                        font-weight: 500;

                        @media (min-width: 992px) and (max-width: 1200px) {
                            font-size: 2.2rem;
                            line-height: 2.7rem;
                        }

                        @media (max-width: 821px) {
                            font-size: 1.8rem;
                            line-height: 2.2rem;
                        }
                    }
                }

                .ver-mais {
                    color: var(--color-red);
                    cursor: pointer;
                }
            }
        }
    }
}