@import 'https://unpkg.com/swiper/swiper-bundle.css';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap';

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: 0;
}


:root {
    --color-light: #ffffff;
    --color-dark: #111111;
    --color-red: #FF0000;
    --color-outer-space: #292F33;
}


html { 
    font-size: 62.5%; 
}

body { 
    font-family: 'Montserrat', sans-serif;
    background: #E6EBEF;
}

input, textarea { 
    outline: 0;
}

figure {
    margin: 0;
}

.webapp { 
    overflow: hidden; 
    min-height: 100vh; 
}

a {
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.container {
    width: 100%;
    padding: 0 6rem;
}