.form-contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    .input-double {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;

        @media (max-width: 821px) {
            flex-direction: column;
        }
    }

    .input-block {
        width: 100%;
    }

    input {
        height: 5rem;
        line-height: 5rem;
        width: 100%;
        border: 1px solid transparent;
        background: #F7F7F7;
        padding: 0 2rem;
        color: #A9A9A9;
        font-size: 1.4rem;

        &:focus {
            outline: 0;
        }
    }

    button {
        width: 100%;
        height: 5rem;
        line-height: 5rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: var(--color-light);
        background: var(--color-outer-space);
        padding: 0 2rem;
        text-align: center;
        transition: all .3s ease-in-out;
        cursor: pointer;
        font-weight: 500;
        border: 1px solid transparent;

        &:hover {
            color: var(--color-outer-space);
            background: #f7f7f7;
            border: 1px solid var(--color-outer-space);
        }
    }
}