h3 {
    font-size: 7rem;
    line-height: 7.5rem;
    color: var(--color-dark);
    font-weight: 600;
    text-transform: uppercase;

    span {
        color: var(--color-light);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: -5px;
            height: calc(100% - 20px);
            width: calc(100% + 65px);
            background: var(--color-red);
            z-index: -1;
        }
    }
}

h2 {
    font-size: 17.1rem;
    line-height: 21.3rem;
    letter-spacing: 76px;
    font-weight: 700;
    color: var(--color-outer-space);
    opacity: 8%;
    text-transform: uppercase;
    text-align: center;
}