h3 {
    font-size: 7rem;
    line-height: 7.5rem;
    color: var(--color-dark);
    font-weight: 600;
    text-transform: uppercase;

    @media (max-width: 821px) {
        font-size: 3.5rem;
        line-height: 4.2rem;
    }

    span {
        color: var(--color-light);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: -5px;
            height: calc(100% - 20px);
            width: calc(100% + 65px);
            background: var(--color-red);
            z-index: -1;

            @media (max-width: 821px) {
                width: calc(100% + 20px);
                height: 100%;
                top: 0;
            }
        }
    }
}

h2 {
    font-size: 17.1rem;
    line-height: 21.3rem;
    letter-spacing: 76px;
    font-weight: 700;
    color: var(--color-outer-space);
    opacity: 8%;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 1401px) and (max-width: 1500px) {
        font-size: 10rem;
        letter-spacing: 40px;
    }

    @media (min-width: 1200px) and (max-width: 1400px) {
        font-size: 10rem;
        letter-spacing: 40px;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        font-size: 8rem;
        line-height: 8rem;
        letter-spacing: 30px;
    }

    @media (max-width: 821px) {
        font-size: 4.5rem;
        line-height: 5.2rem;
        letter-spacing: 10px;
    }
}

h6 {
    font-size: 2.7rem;
    line-height: 3.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-outer-space);
    margin-bottom: .5rem;

    @media (min-width: 1200px) and (max-width: 1400px) {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    @media (max-width: 821px) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}